.documentation__endpoints__examples {
    min-height: 100px;
    width: 40%;
    padding: $spacer * 2 10px $spacer * 2 15px;
    //padding-top: $spacer * 2;
    position: relative;
    background-color: $gray-dark;
    //background-color: #333;
    color: #fcfcfc;
    border-bottom: 1px solid $gray-middlescale;

    .examples__toggle {
        display: inline-block;
        float: left;
        border: 2px solid $gray-lighter;
        padding: 2px 12px;
        margin-right: 15px;
        text-align: center;
        color: $gray-lighter;
        background: #555;
        cursor: pointer;
        font-size: 1.5em;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            background: $brand-primary;
        }
        &:after {
            content: '<';
        }
    }

    &.is-collapsing {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        transition: width 0.5s ease;
    }

    &.is-expanded {
        position: absolute;
        //position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1100;
        transition: all 0.5s ease;
        .examples__toggle {
            &:after {
                content: '>';
            }
        }

    }

}

.example__tab {
    list-style: none;
    margin: 0;
    padding: 0;
}

$tabs-base-color: #555;
.examples__tabs {
    float: none;
    list-style: none;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: left;
    transition: all 0.5s;
    * {
        box-sizing: border-box;
    }
    li {
        float: left;
        display: block;
        transition: all 0.5s;
    }
    input[type="radio"] {
        position: absolute;
        //top: -9999px;
        //left: -9999px;
        visibility: hidden;
    }
    label {
        display: block;
        width: 90px;
        padding: 12px 16px;
        border-radius: 0 0;
        margin-bottom: 0;
        font-size: 1em;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        background: $tabs-base-color;
        cursor: pointer;
        position: relative;
        @include transition(all 0.2s ease-in-out);
        &:hover {
            background: darken($tabs-base-color, 10);
        }
    }

    //The Magic
    input[id^="example-tab"]:checked + label {
        background: darken($tabs-base-color, 15);
        padding: 10px 16px;
        border: 2px solid $gray-lighter;
    }

}

.examples__contents {
    max-height: calc(400px);
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: rgba($gray-middlescale, 0.16);
    border: 1px solid #555;
    transition: all 0.5s;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 1px 0 3px $gray-light;
        background: $scrollbar-custom-track;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
        width: 6px;
        position: relative;
        left: 1px;
        border-radius: 1px;
        -webkit-box-shadow: none;
        background: $scrollbar-custom-thumb;
    }
    //border: 1px solid $gray-lighter;
    //border-top: none;
}

.example__content {
    box-sizing: border-box;
    z-index: 2;
    display: inline-block;
    opacity: 0;
    overflow: visible;
    width: 0;
    padding: 10px 0;
    position: relative;
    left: 0;
    vertical-align: top;
    //background: darken($tabs-base-color, 15);
    transition: opacity 0.5s;
    &.is-active {
        opacity: 1;
        width: 100%;
    }

    .example__response {
        padding: 0;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 1px 0 3px $gray-light;
            background: $scrollbar-custom-track;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb {
            width: 6px;
            position: relative;
            left: 1px;
            border-radius: 1px;
            -webkit-box-shadow: none;
            background: $scrollbar-custom-thumb;
        }
        &:hover {
            //cursor: pointer;
        }

        span {
            //word-break: break-all;
        }
    }
}

.documentation__endpoints__examples.is-expanded {
    .examples__contents {
        max-height: calc(100% - 120px);
    }
    .example__content {
        .example__response {
            //max-height: calc(100% - 150px);
        }
    }
}

p.link {
    clear: both;
    margin: 380px 0 0 15px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        padding: 5px 10px;
        margin: 0 5px;
        background-color: darken($tabs-base-color, 15);
        @include transition(all 0.2s ease-in);
        &:hover {
            background-color: darken($tabs-base-color, 20);
        }
    }
}
