@mixin empty-sidebar-right {
    content: '';
    position: absolute;
    left: 100%;
    width: 66.67%; // width 2/3 relative to parent, which is 60% - result is 40%
    top: 0;
    bottom: -1px;
    border-bottom: 1px solid $gray-middlescale;
    background-color: $gray-dark;
}

@mixin shrouded-element($shroud-color: #fff) {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, rgba($shroud-color, 0) 90%, rgba($shroud-color, 1) 100%);
        pointer-events: none; // most important to this element
    }
}

@mixin shrouded-element-fixed($width: 100%) {
    &:after {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        width: $width;
        background: linear-gradient(to bottom, rgba(#fff, 0) 92%, rgba(#fff, 1) 100%);
        pointer-events: none; // most important to this element
    }
}