$gray-dark:                 #000;
$gray:                      #a8a8a8;
$gray-light:                #d9d9d9;
$gray-lighter:              #f0f0f0;

$brand-primary:             #ff7726;
$brand-success:             #00a561;
$brand-danger:              #ff0000;

$link-color:                 $brand-primary;
$link-decoration:            underline;
$link-hover-color:           #d9621b;
$link-hover-decoration:      underline;

$label-default-bg:            $gray-light;
$label-primary-bg:            $brand-primary;
$label-success-bg:            $brand-success;
$label-warning-bg:            $gray;
$label-danger-bg:             $brand-danger;

$enable-rounded:             false;