doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= pageTitle
        style(type='text/css')
            include main.css
    body
        header(class='header')
            h1 ramlo
        main(class='main')
            .sidebar
                p.
                    sidebar
            .content
                .content-nav
                    .docs-content
                        ul
                            each resource in resources
                                li= resource
                    .docs-right
                        p.
                            foo
