@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: $font-size-sm;
}

.header {
    padding: $spacer * 2 0;
}

.header__title {
    margin: 0;
    font-size: $font-size-h3;
    font-weight: 700;
}

.header__subtitle {
    margin: 0;
    padding: $spacer / 2 0 $spacer;
    color: $gray-light;
    border-bottom: 1px solid $gray-lighter;
}

.resources {

}

.resources__header {
    font-size: $font-size-sm;
    color: $gray-light;
    text-transform: uppercase;
}

.resources__list {
    padding: 0;
    list-style: none;

    li {
        margin-bottom: $spacer-y;
    }
}

.resources__list__endpoints {
    font-size: $font-size-xs;
    list-style: none;
    padding-left: $spacer-x;

    li {
        margin-bottom: 0;
    }

    .label {
        width: 40px;
        text-transform: uppercase;
        margin-right: $spacer-x / 2;
    }
}

.documentation {
    margin: 0 0 $spacer * 4;
}

.documentation__header {
    margin: 0 0 $spacer;
    padding: 0 0 $spacer;
    font-size: $font-size-h4;
    font-weight: 700;
    border-bottom: 1px solid $gray-lighter;

    .text-muted {
        float: right;
        font-size: $font-size-sm;
    }
}

.documentation__endpoints {
    padding: 0;
}

.documentation__endpoints__name {
    font-size: $font-size-lg;
    margin-top: 3rem;

    &:first-child {
        margin-top: 0;
    }

    .label {
        width: 66px;
        text-transform: uppercase;
        margin: 0 $spacer 0 0;
    }
}

.documentation__endpoints__description {
    padding-bottom: $spacer-y;
    color: $gray-light;
    border-bottom: 1px solid $gray-lighter;
}

pre, code {
    width: 100%;
    word-break: break-all;
}

.documentation__subheader {
    font-size: $font-size-base;
    margin-top: $spacer * 2;
}

.documentation__parameters {

}

.footer {
    margin: $spacer * 6 0 0;
}

.footer__text {
    padding: $spacer / 2 0;
    border-top: 1px solid $gray-lighter;
}