@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "styles/theme";
@import "styles/mixins";
@import "styles/bootstrap";
@import "styles/theme-components";
@import "styles/examples";

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: $font-size-sm;
}

pre, code {
    width: 100%;
    word-break: break-all;
    color: $gray;
    font-size: $font-size-xs;
    overflow: hidden;
    //white-space: pre-wrap; /* css-3 */
    //white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    ////white-space: -pre-wrap;      /* Opera 4-6 */
    //white-space: -o-pre-wrap; /* Opera 7 */
    //word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.header {
    padding: $spacer * 2 0;
}

.header__title {
    margin: 0;
    font-size: $font-size-h3;
    font-weight: 700;
}

.header__subtitle {
    margin: 0 0 $spacer;
    padding: $spacer / 2 0 $spacer;
    color: $gray;
    border-bottom: 1px solid $gray-lighter;
}

.header__uri {
    padding: 0 10px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2;
    background-color: $gray-lighter;
}

.sidebar {
    position: relative;
    border-right: 1px solid #ccc;
    transition: all 0.3s linear;
    $root: &;
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 15px 0;

        //customizing the sidebar scrollbar
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 1px 0 3px $gray-light;
            background: $scrollbar-custom-track;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb {
            width: 6px;
            position: relative;
            left: 1px;
            border-radius: 1px;
            -webkit-box-shadow: none;
            background: $scrollbar-custom-thumb;
        }
    }
    &.is-abs {
        position: absolute;
    }
    &.is-fixed {
        #{$root}-content {
            position: fixed;
            top: 0;
            bottom: 0;
            padding-right: 15px;
            overflow-y: scroll;
            width: 16.66667%;
            min-width: 200px;

            /*below mixin is an optional effect added to sidebar*/
            //@include shrouded-element-fixed(16.66667%);
        }
    }
}

.resources {

}

.resources__header {
    font-size: $font-size-sm;
    color: $gray;
    text-transform: uppercase;
    margin: 0 0 $spacer;
}

.resources__list {
    padding: 0;
    list-style: none;
    margin-bottom: 2 * $spacer;

    li {
        margin: $spacer / 2 0 $spacer;
    }
}

.resources__resource {
    cursor: pointer;
    &:active, &:focus {
        outline: none;
    }
}

.resources__list__endpoints {
    font-size: $font-size-xs;
    list-style: none;
    padding: 0;
    color: $gray;

    li {
        margin: $spacer / 2 0;
    }

    .label {
        width: 46px;
        text-transform: uppercase;
        margin-right: $spacer-x / 2;
    }

    a {
        color: inherit;
        text-decoration: none;
        font-size: 0.875rem;
        transition: all 0.2s linear;

        word-break: break-all;

        &:hover, &:focus {
            text-decoration: underline;
        }
        //&:active {
        //    text-decoration: none;
        //}

        &.is-current {
            font-weight: 700;
            color: $pitch-black;
            text-decoration: none;
        }
    }
}

.documentation {
    border-left: 1px solid $gray-light;

    //border-top: 1px solid $gray-light;
    &:first-of-type {
        border-top: 1px solid $gray-light;

    }
}

.documentation__header {
    position: relative;
    margin: 0 0;
    padding: 2*$spacer 10px 2*$spacer 20px;
    font-size: $font-size-h2;
    font-weight: 700;
    width: 60%;

    .text-muted {
        float: right;
        font-size: $font-size-sm;
    }

    &:after {
        @include empty-sidebar-right;
        background-color: $gray-dark;
    }
}

.documentation__content {
    position: relative;
    margin: 0 0;
    padding: 2*$spacer 10px 2*$spacer 20px;
    width: 60%;
    display: inline-block;

    &:after {
        @include empty-sidebar-right;
        background-color: $gray-dark;
    }
}

.documentation__endpoints {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    $rootElem: &;
    &:first-of-type {
        #{$rootElem}__params {
            border-top: 1px solid $gray-light;
        }
        #{$rootElem}__examples {
            border-top: 1px solid $gray-middlescale;
        }
    }
}

.documentation__endpoints__container {
    position: relative;
}

.documentation__endpoints__params {
    min-height: 100px;
    width: 60%;
    position: relative;
    padding: $spacer * 2 10px $spacer * 2 20px;
    border-bottom: 1px solid $gray-light;
}

.documentation__endpoints__examples {
    min-height: 100px;
    width: 40%;
    padding: 0px 10px;
    padding-top: $spacer * 2;
    position: relative;
    background-color: $gray-dark;
    //background-color: #333;
    color: #fcfcfc;
    border-bottom: 1px solid $gray-middlescale;
}

.documentation__endpoints__left {

}

.documentation__endpoints__right {
    position: absolute;
    top: 0;
    right: $spacer;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $gray-lighter;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $gray-light;
        border-radius: 8px;
    }
}

.documentation__endpoints__name {
    font-size: $font-size-lg;
    margin-top: 1rem;

    &:first-child {
        margin-top: 0;
    }

    .label {
        width: 76px;
        text-transform: uppercase;
        margin: 0 $spacer 0 0;
    }
}

.documentation__endpoints__description {
    color: $gray-middlescale;
}

.documentation__subheader {
    font-size: $font-size-base;
    font-weight: 700;
    margin: $spacer 0;
}

.documentation__parameters {
    margin-bottom: $spacer * 2;

    thead {
        th {
            color: $brand-primary;
            font-weight: 400;
            text-transform: uppercase;
            border-bottom-width: 1px;
        }
    }

    th, td {
        padding: $spacer / 2 $spacer;
        border-top: 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

.documentation__parameters__nested {

    td {

        &:first-child {
            padding-left: $spacer * 2;
        }
    }
}

.setTitle {
    font-weight: bold;
    padding: 0 15px 0 0;
}

.setDesc {
    color: #999;
}

.footer {

}

.footer__text {
    padding: $spacer 0;
    margin: 0;
    border-top: 1px solid $gray-lighter;
    color: $gray-light;
    text-align: right;

    a {
        margin: 0 $spacer / 4;
    }
}

.hljs-number {
    color: $brand-success;
}

.hljs-string {
    color: $brand-primary;
}

.hljs-literal {
    color: $brand-info;
}